<div id="mySidenav" class="sidenav">
    <a class="closebtn" onclick="closeNav()">&times;</a>      
    <input type="text" id="myInput" onkeyup="searchNav()" placeholder="Pesquisar..." title="Type in a name">    
    <div id="menuList">     
    {%if page.projeto == "fastQuestColeta" %}
        {% for post in site.posts %}
            {%if post.projeto == "fastQuestColeta" %}
                <a href="{{ site.baseurl }}{{ post.url }}" class="options">{{ post.title }}</a>                           
            {% endif %}        
        {% endfor %}    
    {% else %}
        {% for post in site.posts %}            
            {%if post.projeto == "fastQuestAdmin" %}
                {%if post.pasta %}
                    
                {% else %}     
                    {%if post.nomePasta %}                                        
                    <div class="dropdown">
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}                                
                        </a>                                                
                        <i class="fa fa-caret-down dropdown-btn"></i>                        
                        <div class="dropdown-container">
                            {% for link in site.posts %}
                                {% if post.nomePasta == link.pasta %}
                                    <a href="{{ site.baseurl }}{{ link.permalink }}" class="options">{{ link.title }}</a>
                                {%endif%}
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                        <a href="{{ site.baseurl }}{{ post.url }}" class="options">{{ post.title }}</a>
                    {%endif%}
                {%endif%}
            {%endif%}
        {% endfor %}    
    {% endif %}
    </div>    
</div>